@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="vh-100 d-flex flex-column justify-content-center align-items-center">
        <h1 class="display-4">Prueba técnica - Harold Bartolo</h1>
        <p class="d-flex flex-column">
            <a asp-controller="Categorias" asp-action="Index"><h2>Categorías</h2></a>
            <a asp-controller="Productos" asp-action="Index"><h2>Productos</h2></a>
        </p>
    </div>
</div>
